.contact-me{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px black;    
    background-color: black;
    width: 300px;
    height: 150px;
    border-left: 1rem solid #C82523;
    grid-column: 1;
    position: absolute;
    bottom: 4.3%;
}