.left-content__nav-bar{
    background-image: url('/assets/leseni.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 1.5rem;
    ul {
        font-size: 1.5rem;
        font-weight: 700;
    }
    li {
        padding: .2rem 1.5rem;
    }
    a{
        background-color: black;
        padding: .1rem .3rem;
    }
    a:hover{
        color: red;
    } 
}